{% render 'partials/head.liquid', title: 'Squad page' %}

<ul>
  <li>leeftijd</li>
  <li>Favoriete kleur</li>
  <li>Favoriete HTML tag</li>
</ul>

{% for person in persons %}
<section>
  {% if person.avatar == null %}
    <img src="images/default_pfp.jpg" alt="">
  
  {%  elsif person.avatar == "" %}
    <img src="images/default_pfp.jpg" alt="">

  {% else %}
    <img src="{{ person.avatar }}" alt="">
  {% endif  %}
    
  <p>
    {{ person.name }}
  </p>
  <p>
    {{ person.birthdate | date: "%d-%m-%Y" }}
  </p>
</section>
{% endfor %}

{% comment %} <h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul> {% endcomment %}

{% render 'partials/foot.liquid', squads: squads %}